{% extends 'app/share.html' %}
{% block content %}
    <style>
      
@media screen and (min-width : 600px){
    .button_write {
    width: 80vw;
    margin : 1px auto;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

}
@media screen and (max-width : 600px){
    .button_write {
    width: 500px;

display: inline-block;
background-color: #4CAF50;
color: white;
padding: 8px 16px;
text-align: center;
text-decoration: none;
font-size: 16px;
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

}

.button_write:hover {
  background-color: #3e8e41;
}
    
    </style>
    <div style="display:flex;margin-top: 20px;">
      <button class="button_write" onclick="go_write('/write/')">
        <i class="fa-solid fa-pen-nib"></i> 글 쓰러가기</button></div>
    <div class="container">
        <div class="post_list">
            
            </div>
        </div>
    </div>
    <script>
        const ajax = fetch("/read_article_json/").then(
            (data) => data.json()
        ).then(function (res) {
            let code = ""
            let target = document.getElementsByClassName("post_list")[0]
            let date_list = res["date_list"]
            let days_articles;
            let sliced_res
            for (date_ of date_list){
                console.log(date_)
                code += "<div class='post'><div class='block'>"
                code += `<h3>${date_}</h3>`
                days_articles = res[date_]
                sliced_days_articles = days_articles.length >=10 ? days_articles.slice(0,10) : days_articles;
                for (i of sliced_days_articles){
                    let date = i["date"];
                    let id = i["id"];
                    let title = i["title"];
                    let content = i["content"];
                    code += `<div onclick=move(${id}) class="post" >
                            <h3>${title}</h3>
                            <span><strong>${date}</strong></span>
                            </div>`;
                }
                code += "</div></div>"
            }
            target.innerHTML = code;
           
    
        })
        function go_write(url){
          location.href = url
        }
        function move(id) {
            location.href = `/read_article/?id=${id}`
        }
        function logout(){
            const ajax = fetch("/logout/").then(response =>{location.href = "/home"});
            
        }
    </script>{% endblock %}